/* font-family: 'Freckle Face', cursive; */
/* font-family: 'Comic Neue', cursive; */
/* background: #ece3c6 */   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    background-color: #ece3c6;
    font-family: 'Comic Neue', cursive;
}
body{
    overflow-x: hidden;
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0,0,0,0.7);
    -moz-box-shadow:    inset 0px 0px 50px 5px rgba(0,0,0,0.7);
    box-shadow:         inset 0px 0px 50px 5px rgba(0,0,0,0.7);
}
/* navbar styles */
nav#navbar{
    background-color: #5E5F58;
    width: 100%;
    z-index: 3;
    position: fixed;
} 
nav#navbar div#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav#navbar div#navlist a{
    color: #DCD9C4;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 3rem;
}
nav#navbar div#navlist a:hover{
    color: #fff;
}

/* background styles */
div.background{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: static;
}
div.background img:first-child{
    transform: rotate(90deg);
    float: left;
    position: relative;
    top: 90px;
    left: -190px;
}
div.background img:last-child{
    transform: rotate(270deg);
    float: right;
    position: relative;
    top: 90px;
    right: -190px;
}
img.background:nth-of-type(odd){
    transform: rotate(90deg);
    float: left;
    position: static;
    top: 90px;
    left: -190px;
}
img.background:nth-of-type(even){
    transform: rotate(270deg);
    float: right;
    position: static;
    top: 90px;
    right: -190px;
}
/* header styles */
header.header{
    position: absolute;
    top: 0px;
    left: 165px;
}
section.head{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 5%;
}
section.head h1.head-text{
    font-family: 'Freckle Face', cursive;
    display: inline-block;
    font-size: 7rem;
    margin-left: 50px;
    width: 600px;
}
section.head img.head-img{
    display: inline-block;
    height: 80%;
}
section.sub hr{
    width: 60%;
    margin: 0 auto;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
section.sub hr:before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
section.sub p.sub-text{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 5px;
}
/* content styling */
section.content{
    margin: 10%;
}
     /* post1 */
section.content article.post1-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.content article.post1-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.content article.post1-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: right;
}
section.content article.post1-caption p{
    position: relative;
    padding: 25px;
    top: 115px;
    left: -50px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.content article.post1-caption p>a{
    border: 1px solid #10100E;
    border-radius: 25px;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.content article.post1-caption p>a:hover{
    color: #fff;
}
    /* post 2 */
section.content article.post2-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.content article.post2-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.content article.post2-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: left;
}
section.content article.post2-caption p{
    position: relative;
    padding: 25px;
    top: 115px;
    right: -30px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.content article.post2-caption p>a{
    border: 1px solid #000;
    border-radius: 25px;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.content article.post2-caption p>a:hover{
    color: #fff;
}

/* 'specials' styling */
h2.heading{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
}
section.specials{
    margin: 10%;
}
    /* post-1 */
section.specials article.post1-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.specials article.post1-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.specials article.post1-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: right;
}
section.specials article.post1-caption p{
    position: relative;
    padding: 25px;
    top: 115px;
    left: -125px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.specials article.post1-caption p>a{
    border: 1px solid #000;
    border-radius: 25px;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.specials article.post1-caption p>a:hover{
    color: #fff;
}
section.specials article.post1-caption p span{
    font-weight: 700;
    cursor: pointer;
}
    /* post-2 */
section.specials article.post2-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.specials article.post2-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.specials article.post2-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: left;
}
section.specials article.post2-caption p{
    position: relative;
    font-weight: 400;
    padding: 25px;
    top: 75px;
    right: -25px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.specials article.post2-caption p>a{
    border: 1px solid #000;
    border-radius: 25px;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.specials article.post2-caption p>a:hover{
    color: #fff;
    
}
section.specials article.post2-caption p span{
    font-weight: 700;
}


/* footer styles */

.footer-distributed{
	background: #5E5F58;
	box-shadow: 0 1px 1px 0 #10100E;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.footer-distributed h3{
	/* color:  #ffffff; */
	/* font: normal 36px 'Open Sans', cursive; */
    font-family: 'Freckle Face', cursive;
    font-size: 5rem;
	margin: 0;
}

/* .footer-distributed h3 span{
	color:  lightseagreen;
} */

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #10100E;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #10100E;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/* footer responsive media queries */
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}