/* font-family: 'Freckle Face', cursive; */
/* font-family: 'Comic Neue', cursive; */
/* background: #ece3c6 */   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 865%;
    position: relative;
    top: 3rem;
    background-color: #ece3c6;
    font-family: 'Comic Neue', cursive;
}
body{
    height: 100%;
    overflow-x: hidden;
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(0,0,0,0.7);
    -moz-box-shadow:    inset 0px 0px 50px 5px rgba(0,0,0,0.7);
    box-shadow:         inset 0px 0px 50px 5px rgba(0,0,0,0.7);
}
/* navbar styles */
nav#navbar{
    background-color: #5E5F58;
    width: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
} 
nav#navbar div#navlist{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
nav#navbar div#navlist a{
    color: #DCD9C4;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 3rem;
}
nav#navbar div#navlist a:hover{
    color: #fff;
}

/* background styles */
div.background-desktop{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: static;
}
div.background-desktop img:first-child{
    transform: rotate(90deg);
    float: left;
    position: relative;
    top: 90px;
    left: -190px;
}
div.background-desktop img:last-child{
    transform: rotate(270deg);
    float: right;
    position: relative;
    top: 90px;
    right: -190px;
}
/* header styles */
header.header{
    position: absolute;
    top: 0px;
    left: 165px;
}
section.head{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 5%;
}
section.head h1.head-text{
    font-family: 'Freckle Face', cursive;
    display: inline-block;
    font-size: 7rem;
    margin-left: 50px;
    width: 600px;
}
section.head img.head-img{
    display: inline-block;
    height: 80%;
}
section.sub hr{
    width: 60%;
    margin: 0 auto;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
section.sub hr:before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
section.sub p.sub-text{
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    letter-spacing: 5px;
}
/* content styling */
section.content{
    margin: 10%;
}
     /* post1 */
section.content article.post1-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.content article.post1-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.content article.post1-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: right;
}
section.content article.post1-caption p{
    position: relative;
    padding: 25px;
    top: 115px;
    left: -50px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.content article.post1-caption p>a{
    border: 1px solid #10100E;
    border-radius: 25px;
    outline: none;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.content article.post1-caption p>a:hover, section.content article.post1-caption p>a:focus{
    color: #fff;
    outline: none;
}
    /* post 2 */
section.content article.post2-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.content article.post2-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.content article.post2-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: left;
}
section.content article.post2-caption p{
    position: relative;
    padding: 25px;
    top: 115px;
    right: -30px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.content article.post2-caption p>a{
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.content article.post2-caption p>a:hover, section.content article.post2-caption p>a:focus{
    color: #fff;
    outline: none;
}

/* 'specials' styling */
h2.heading{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 4rem;
}
section.specials{
    margin: 10%;
}
    /* post-1 */
section.specials article.post1-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.specials article.post1-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.specials article.post1-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: right;
}
section.specials article.post1-caption p{
    position: relative;
    padding: 25px;
    top: 115px;
    left: -125px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.specials article.post1-caption p>a{
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.specials article.post1-caption p>a:hover, section.specials article.post1-caption p>a:focus{
    color: #fff;
    outline:none;
}
section.specials article.post1-caption p span{
    font-weight: 700;
    cursor: pointer;
}
    /* post-2 */
section.specials article.post2-img{
    display: inline-block;
    margin-bottom: 7%;
    width: 50%;
    text-align: center;
}
section.specials article.post2-img img.image{
    width: 100%;   
    border-radius: 15%;
}
section.specials article.post2-caption{
    display: block;
    margin-bottom: 7%;
    width: 50%;
    height: 398.77px;
    float: left;
}
section.specials article.post2-caption p{
    position: relative;
    font-weight: 400;
    padding: 25px;
    top: 75px;
    right: -25px;
    line-height: 1.4em;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #DCD9C4;
}
section.specials article.post2-caption p>a{
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    font-weight: 700;
    background-color: #10100E;
    color: #DCD9C4;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 0px;
    left: 390px;
}
section.specials article.post2-caption p>a:hover, section.specials article.post2-caption p>a:focus{
    color: #fff;
    outline: none;
}

section.specials article.post2-caption p span{
    font-weight: 700;
}


/* footer styles */

.footer-distributed{
	background: #5E5F58;
	box-shadow: 0 1px 1px 0 #10100E;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.footer-distributed h3{
	/* color:  #ffffff; */
	/* font: normal 36px 'Open Sans', cursive; */
    font-family: 'Freckle Face', cursive;
    font-size: 5rem;
	margin: 0;
}

/* .footer-distributed h3 span{
	color:  lightseagreen;
} */

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #10100E;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #10100E;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/* footer responsive media queries */
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* website responsive media queries */
    /* laptop 1024 */
@media only screen and (max-width: 1024px){
    /* backkground image */
    div.background-desktop img:first-child{
        display: none;
    }
    div.background-desktop img:last-child{
        display: none;
    }
    /* headigs */
    h2.heading{
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        font-size: 3.5rem;
    }
    /* header layout */
    header.header{
        position: absolute;
        top: 0px;
        margin: 0 -4.2%;
    }
    section.head{
        display:block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 70vh;
        /* padding: ; */
    }
    section.head img.head-img{
        display: block;
        height: 70%;
        position: relative;
        top: 1rem;
        margin: 0 auto;
        z-index: -1;
    }
    section.head h1.head-text{
        font-family: 'Freckle Face', cursive;
        display: block;
        font-size: 5rem;
        margin: 0 auto ;
        width: 450px;
    }
    /* content layout */
        /* post-1 */
    section.content article.post1-img{
        display: inline-block;
        margin-bottom: 7%;
        width: 60%;
        text-align: center;
    }
    section.content article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 40%;
        height: 369.55px;
        float: right;
    }
    section.content article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        left: -50px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
        /* post-2 */
    section.content article.post2-img{
        display: inline-block;
        margin-bottom: 7%;
        width: 60%;
        text-align: center;
    }
    section.content article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 40%;
        height: 368.09px;
        float: left;
    }
    section.content article.post2-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        right: -30px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
    /* specials layout */
        /* post-1 */
    section.specials article.post1-img{
        display: inline-block;
        margin-bottom: 7%;
        width: 60%;
        text-align: center;
    }
    section.specials article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 40%;
        height: 369.55px;
        float: right;
    }
    section.specials article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 75px;
        left: -50px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
        /* post-2 */
    section.specials article.post2-img{
        display: inline-block;
        margin-bottom: 7%;
        width: 60%;
        text-align: center;
    }
    section.specials article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 40%;
        height: 368.09px;
        float: left;
    }
    section.specials article.post2-caption p{
        font-size: 14px;
        overflow-y: scroll;
        height: 433.89px;
        position: relative;
        padding: 25px;
        top: 30px;
        right: -30px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }

}
    /* tablet 768 */
@media only screen and (max-width: 768px){
    /* header layout */
    header.header{
        position: absolute;
        top: 0px;
        left: 60px;
    }
    /* sub styles */
    section.sub p.sub-text{
        letter-spacing: 4px;
    }
    section.sub hr{
        width: 100%;
    }
    /* heading style/ layout */
    h2.heading{
        margin: 0 18%;
    }
    /* content styles */
        /* post-1 */
    section.content article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 80%;
        height: 369.55px;
        float: right;
    }
    section.content article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        left: -50px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
        /* post-2 */
    section.content article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 80%;
        height: 368.09px;
        float: left;
    }
    section.content article.post2-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        right: -73px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
    /* specials layout */
    section.specials{
        height: 135rem;
    }
        /* post-1 */
    section.specials article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 80%;
        height: 369.55px;
        float: right;
    }
    section.specials article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        left: -60px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
        /* post-2 */
    section.specials article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 80%;
        height: 368.09px;
        float: left;
    }
    section.specials article.post2-caption p{
        font-size: 14px;
        overflow-y: scroll;
        height: 433.89px;
        position: relative;
        padding: 25px;
        top: 40px;
        right: -60px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
}
    /* mobile 425 */
@media only screen and (max-width: 425px){
    /* header layout */
    header.header{
        width: 442px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    section.head{
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    section.head h1.head-text{
        display: block;
        font-size: 4rem;
        text-align: center;
        margin: 0 auto;
        width: 416px;
    }
    /* sub styles */
    section.sub p.sub-text{
        letter-spacing: 1px;
    }
    section.sub hr{
        width: 70%;
    }
    /* heading style/ layout */
    h2.heading{
        margin: 0 18% 100px;
    }
    /* content styles */
    section.content{
        margin: 10%;
        height: 87rem;
    }
        /* post-1 */
    section.content article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 369.55px;
        float: right;
    }
    section.content article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        left: -14px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
        /* post-2 */
    section.content article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 368.09px;
        float: left;
    }
    section.content article.post2-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        right: -20px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
    /* specials layout */
    section.specials{
        height: 110rem;
    }
        /* post-1 */
    section.specials article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 369.55px;
        float: right;
    }
    section.specials article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        left: -18px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
        /* post-2 */
    section.specials article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 368.09px;
        float: left;
    }
    section.specials article.post2-caption p{
        font-size: 14px;
        overflow-y: visible;
        height: 556px;
        position: relative;
        padding: 25px;
        top: 40px;
        right: -20px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 165px;
    }
}
    /* mobile 375 */
@media only screen and (max-width: 375px){
    /* header layout */
    header.header{
        width: 390px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    section.head{
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    section.head h1.head-text{
        display: block;
        font-size: 3.5rem;
        text-align: center;
        margin: 0 auto;
        width: 366px;
    }
    /* sub styles */
    section.sub p.sub-text{
        letter-spacing: 1px;
        width: 285px;
        margin: 0 auto;
    }
    section.sub hr{
        width: 70%;
    }
    /* heading style/ layout */
    h2.heading{
        margin: 0 10% 100px;
    }
    /* content styles */
    section.content{
        margin: 10%;
        height: 87rem;
    }
        /* post-1 */
    section.content article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 490px;
        float: right;
    }
    section.content article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        left: -14px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
        /* post-2 */
    section.content article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 490px;
        float: left;
    }
    section.content article.post2-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        right: -20px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
    /* specials layout */
    section.specials{
        height: 110rem;
    }
        /* post-1 */
    section.specials article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 490px;
        float: right;
    }
    section.specials article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        top: 40px;
        left: -18px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
        /* post-2 */
    section.specials article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 90%;
        height: 620px;
        float: left;
    }
    section.specials article.post2-caption p{
        font-size: 14px;
        overflow-y: visible;
        height: 556px;
        position: relative;
        padding: 25px 25px 60px;
        top: 40px;
        right: -20px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
}
    /* mobile 320 */
@media only screen and (max-width: 320px){
    /* header layout */
    header.header{
        width: 334px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    section.head{
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    section.head h1.head-text{
        display: block;
        font-size: 3.5rem;
        text-align: center;
        margin: 0 auto;
        width: 312px;
    }
    /* sub styles */
    section.sub p.sub-text{
        letter-spacing: 1px;
        width: 285px;
        margin: 0 auto;
    }
    section.sub hr{
        width: 70%;
    }
    /* heading style/ layout */
    h2.heading{
        font-size: xxx-large;
        margin: 0 10% 100px;
    }
    /* content styles */
    section.content{
        margin: 10%;
        height: 87rem;
    }
        /* post-1 */
    section.content article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 100%;
        height: 490px;
        float: right;
    }
    section.content article.post1-caption p{
        font-size: 14px;
        position: relative;
        width:100%;
        padding: 25px;
        top: 40px;
        left: 0px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
        /* post-2 */
    section.content article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.content article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.content article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 100%;
        height: 490px;
        float: left;
    }
    section.content article.post2-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        width: 100%;
        top: 40px;
        right: 0px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.content article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
    /* specials layout */
    section.specials{
        height: 110rem;
    }
        /* post-1 */
    section.specials article.post1-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post1-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post1-caption{
        display: block;
        margin-bottom: 7%;
        width: 100%;
        height: 490px;
        float: right;
    }
    section.specials article.post1-caption p{
        font-size: 14px;
        position: relative;
        padding: 25px;
        width: 100%;
        top: 40px;
        left: 0px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post1-caption p>a{
        border: 1px solid #10100E;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
        /* post-2 */
    section.specials article.post2-img{
        display: inline-block;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }
    section.specials article.post2-img img.image{
        width: 100%;   
        border-radius: 15%;
    }
    section.specials article.post2-caption{
        display: block;
        margin-bottom: 7%;
        width: 100%;
        height: 620px;
        float: left;
    }
    section.specials article.post2-caption p{
        font-size: 14px;
        overflow-y: visible;
        height: 620px;
        width: 100%;
        position: relative;
        padding: 25px 25px 60px;
        top: 40px;
        right: 0px;
        line-height: 1.5em;
        text-transform: capitalize;
        border-radius: 10px;
        background-color: #DCD9C4;
    }
    section.specials article.post2-caption p>a{
        border: 1px solid #000;
        border-radius: 25px;
        outline: none;
        font-weight: 700;
        background-color: #10100E;
        color: #DCD9C4;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 15px;
        position: relative;
        top: 0px;
        left: 125px;
    }
    /* footer styles */
    .footer-distributed h3{
        font-size: 4rem;
    }
}